{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <h2>Something went wrong...</h2>
        <p>{{error}}</p>
        <a href="/" class="btn btn-warning">Go back home</a>
    </div>
{% endblock %}