{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h1>Welcome to the fruit app</h1>
        <p>This app is all about fruits and comments</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSew3Ly3S-GiRuyWZrxQJ6R9Jw5K8SVbuVS0oV3QGnihi9K5wkezPrUHtebc8uqMm7Pelw&usqp=CAU" alt="image of oranges" height="200px">
    </div>
{% endblock %}